name: Deploy Prod to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    uses: ./.github/workflows/deploy-common.yml
    with:
      environment: prod
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.PROD_SSH_PRIVATE_KEY }}
      EC2_USER: ${{ secrets.PROD_EC2_USER }}
      EC2_HOST: ${{ secrets.PROD_EC2_HOST }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
