name: Deploy Dev to EC2

on:
  push:
    branches: [ dev ]

jobs:
  deploy:
    uses: ./.github/workflows/deploy-common.yml
    with:
      environment: dev
    secrets:
      SSH_PRIVATE_KEY: ${{ secrets.DEV_SSH_PRIVATE_KEY }}
      EC2_USER: ${{ secrets.DEV_EC2_USER }}
      EC2_HOST: ${{ secrets.DEV_EC2_HOST }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
